<h2>Assortment: <%= @assortment.name %></h2>
<%= @assortment.tags.each do |tag| %>
  <% tag.notes.each do |note| %>
    <%= render 'notes/note_preview', :note => note %>
  <% end %>

  <% tag.highlights.each do |highlight| %>
    <%= link_to highlight.text, highlight_path(highlight) %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_assortment_path(@assortment) %> |
<%= link_to 'Back', assortments_path %>