<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div data-controller='editor' data-action="keyup->editor#type">
      <%= form_for(note, remote: true) do |f|%>
        <%= f.text_area :body, placeholder: 'body', 'data-target' => 'editor.text', class: 'bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full h-64 appearance-none leading-normal' %>
        <div class="flex">
          <div class="w-2/3 h-12 flex items-center justify-center">
            <span class='pr-2'>Edit tags:</span>
            <%= f.text_field :tag_list, 'data-target' => 'editor.tags', placeholder: 'tags', class: 'p-2 rounded' %>
          </div>
          <div class="w-1/3 h-12 flex items-center justify-start">
            <%= f.submit 'Save Changes', 'data-action' => 'editor#save', class: 'bg-green-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded' %>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
