<div class='flex flex-row items-center'>
  <div class='m-4 bg-white p-4 rounded shadow w-1/2'>
    
    <div class='flex flex-row items-center justify-between'>
      <div class='flex flex-col'>
        <%= link_to(note) do %>
          <%= truncate(note.body) %>
        <% end %> 
        <p class='text-xs text-gray-400'><%= note.updated_at.strftime("%m-%d-%Y") %></p>
      </div>
      
      <div class='flex flex-row'>
        <%= render note.tags %>
      </div>
    </div>
    
    <p class='text-sm text-gray-600'><%= truncate(note.body, :length => 120) %>
    
  </div>
  
</div>