<header class='flex items-center m-6'>
  <div class='w-1/6'><%= link_to '< back to notes', notes_path, class: 'h-full' %></div>
  <div class='w-4/6'>
    <%= render 'title', :note => @note %>
  </div>
</header>

<div class='flex m-4'>  
  <div class='w-1/2 mx-4'>
    <%= render partial: "editor", locals: { note: @note } %>
  </div>
  
  <div class='w-1/2 markdown mx-4 h-screen overflow-scroll border border-gray-300 rounded-lg px-4 bg-white' data-target='md-display'>
    <%= @markdown.render(@note.body).to_s.html_safe %>
  </div>
</div>

<%= react_component('Editor') %>