<p>
  Tags:
  <% @note.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<%# <p> %>
  <%# <%= @note.text %>
<%# </p> %>

<%# <div><%= render @note.tags %> </div>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
