<%= form_with(model: source, local: true) do |form| %>
  <% if source.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
        <% source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'login-input' %>
  </div>

  <div>
    <%= form.label 'URL' %>
    <%= form.text_field :location, class: 'login-input' %>
  </div>

  <div class='text-center mt-8'>
    <%= form.submit 'create source', class: 'btn-pink' %>
  </div>
<% end %>
