


  <header class="source-header">
      <h3><%= link_to @source.location, @source.location,  target: :_blank %></h3>
      <br/>
  </header>
  
 
  <% @highlights.each do |highlight| %>
     <section class='highlight-box box'>
       <p><%= highlight.text %></p>
        
        <div class='time-stamp'>
          <%= highlight.created_at %>
        </div>
      
      <%= link_to 'Show', highlight %>
    </section>
  <% end %>
  

  <%= link_to 'Back', sources_path %>