<div class='flex justify-around items-center'>
  <div class='flex flex-col justify-center items-center mt-8 w-2/3'>
      <%= render 'tags/tag_search'%>
  </div>
  <%= link_to 'new assortment', new_assortment_path, class: 'text-red-300' %>
</div>

<div class='flex flex-row m-8'>
  <div class='flex flex-col w-2/3 m-2'>
    <div class='flex flex-row items-center'>
      <h1 class='text-2xl mr-6'>Notes</h1>
      <%= link_to 'new note', new_note_path, class: 'text-red-300' %>
    </div>
    <% @notes.each do |note| %>
      <%= render 'notes/note_preview', :note => note %>
    <% end %>
  </div>

  <div class='flex flex-col w-1/3 m-2'>
    <h1 class='text-xl'>Highlights</h1>
    <% @highlights.each do |highlight| %>
      <%= render 'highlights/highlight_preview', :highlight => highlight %>
    <% end %>
  </div>

  <div class='flex flex-col w-1/3 m-2'>
    <h1 class='text-xl'>Sources</h1>
    <% @sources.each do |source| %>
      <%= render 'sources/source_preview', :source => source %>
    <% end %>
  </div>
  
</div>