<div class='flex justify-around items-center'>
  <div class='flex flex-col justify-center items-center mt-8 w-2/3'>
      <%= render 'tags/tag_search'%>
  </div>
  <%= link_to 'new assortment', new_assortment_path, class: 'text-red-300' %>
</div>

<div class='flex flex-row m-8'>
  <section class='flex flex-col w-3/4 m-2'>
    <div class='flex flex-row items-center'>
      <h2 class='text-2xl mr-6'>Notes</h2>
      <%= link_to 'new note', new_note_path, class: 'text-red-300' %>
    </div>
    <ul>
      <% @notes.each do |note| %>
        <%= render 'notes/note_preview', :note => note %>
      <% end %>
    </ul>
  </section>

  <section class='flex flex-col w-1/4 m-2'>
    <h2 class='text-xl'>Highlights</h2>
    <ul>
      <% @highlights.each do |highlight| %>
        <%= render 'highlights/highlight_preview', :highlight => highlight %>
      <% end %>
    </ul>
  </section>

  <section class='flex flex-col w-1/4 m-2'>
    <h2 class='text-xl'>Sources</h2>
    <ul class='flex flex-col items-center justify-center w-full'>
      <% @sources.each do |source| %>
        <%= render 'sources/source_preview', :source => source %>
      <% end %>
    </ul>
  </section>
</div>