<%= notice %>

<div class="container">
  <div class="header-highlight-index">
    <h1>Highlights</h1>
    <%= link_to 'New Highlight', new_highlight_path %>
  </div>

  <div>
    <% @highlights.each do |highlight| %>
      <div class="highlight">
        <p><%= highlight.text %></p>
        <br/>
      
        <div class="highlight-footer">
          <%= link_to highlight.url, highlight.url,  target: :_blank %>
          <%= link_to 'Show', highlight %>
        </div>
      </div>
    <% end %>
  </div>
</div>


