<p id="notice"></p>

<div class="page center-column-flex">
  <h1 id="underline">Highlights</h1>
  <div>
  <% @highlights.each do |highlight| %>
    <div class="highlight">
      <%= highlight.text %>
      <br/>
      <%= link_to highlight.url %>
      <div>
        <%= link_to 'Show', highlight %>
        <%= link_to 'Destroy', highlight, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>
</div>

<%= link_to 'New Highlight', new_highlight_path %>
