<div class='m-6'>
  <section class='flex flex-row justify-center items-center w-full'>
    <div class='m-2 bg-white p-8 rounded shadow w-2/3'>
      <p>
        <%= @highlight.text %>
      </p>

      <div>
        <%= link_to @highlight.url, @highlight.url,  target: :_blank, class: 'text-blue-400 text-xs' %>
      </div>

      <div class='text-right mt-8'>
          <%= link_to 'view more highlights from this source >', @highlight.source %>  
      </div>
      
      <div class='flex justify-between items-center mt-4'>
        <%= link_to 'Delete', @highlight, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red-300' %>
        <ul>
          <%= render @highlight.tags %>
        </ul>
      </div>
    </div>
  </section>
</div>



