<nav class="nav">
  <h1><%= link_to 'Highlighter', highlights_path, id: 'brand' %></h1>
  <% flash.each do |key, value|%>
          <div class="flash <%= key %>">
            <%= value %>

            <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
            </button>
          </div>
      <% end %>

  <div id="dropdownMenu">
    <% if user_signed_in? %>
      <strong><%= current_user.email %></strong>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>
</nav>