<nav class="nav h-12 m-2">
  <h1 class="text-2xl"><%= link_to 'Highlighter', highlights_path, id: 'brand' %></h1>

  <% if user_signed_in? %>
    <div class="dropdown">
      <div class='dropbtn'>
        <div class='menu-icon'></div>
        <div class='menu-icon'></div>
        <div class='menu-icon'></div>
          <div class='dropdown-content'>
            <%= link_to 'Highlights', highlights_path %>
            <%= link_to 'Sources', sources_path %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          </div>
    </div>
  <% else %>
    <div class='login-nav'>
      <%= link_to 'Log In', new_user_session_path %>
      <%= link_to 'Sign Up', new_user_registration_path %>
    </div>
  <% end %>
</nav>