<!DOCTYPE html>
<html>
  <head>
    <title>Highlighter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('highlight-logo.png') %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <main class='page'>
        <div class='box-container center-column-flex'>
          <%= yield %>
        </div>
    </main>
  </body>
</html>